  <!-- <%= button_to 'Unfollow', user_follow_url(user), method: :delete %>
<% else %>
  <%= button_to 'Follow', user_follow_url(user), method: :post %> -->

  <button class = "follow-toggle"
  data-user-id = "<%= user.id %>"

   type="button" name="button" data></button>
